@model List<Animal>

<h1>Unfortunate Souls Adoption Center</h1>
<br />

@*@{
    foreach (Animal a in Model)
    {
        <a class="nav-link text-dark p-0" asp-action="Results" asp-route-id="@a.Id">
            <div class="card">
                <h4>@a.Breed</h4>

            </div>
        </a>
    }
}*@

@{
    List<Animal> DistinctCategories = Model.DistinctBy(a => a.Breed).ToList();
    foreach (Animal c in DistinctCategories)
    {
        <h2>@c.Breed</h2>
        foreach (Animal a in Model.Where(a => a.Breed == c.Breed))
        {
            <a class="nav-link text-dark p=0" asp-action="Results" asp-route-id="@a.Id">
                <p class="card">@a.Name</p>
            </a>
        }
    }
}

<br />

<form asp-method="post" asp-action="AddAnimal">
    <h4>Adding an animal to the shelter?</h4>
    <p>Please proved a URL image in this field</p>
    <input type="text" name="Img" />
    <p>What is his/her name?</p>
    <input type="text" name="Name" />
    <p>What kind of description best describes him/her?</p>
    <input type="text" name="Description" />
    <p>Breed?</p>
    <input type="text" name="Breed" />
    <p>How old is he/she?</p>
    <input type="number" name="Age" />

    <button type="submit" form="form1" value="Submit">Register</button>
</form>