@model List<Animal>

<h1>Unfortunate Souls Adoption Center</h1>
<br />

@*@{
    foreach (Animal a in Model)
    {
        <a class="nav-link text-dark p-0" asp-action="Results" asp-route-id="@a.Id">
            <div class="card">
                <h4>@a.Breed</h4>

            </div>
        </a>
    }
}*@

@{
    List<Animal> DistinctCategories = Model.DistinctBy(a => a.Breed).ToList();
    foreach (Animal c in DistinctCategories)
    {
        <h2>@c.Breed</h2>
        foreach (Animal a in Model.Where(a => a.Breed == c.Breed))
        {
            <a class="nav-link text-dark p=0" asp-action="Results" asp-route-id="@a.Id">
                <p class="card">@a.Name</p>
            </a>
        }
    }
}
